@using Microsoft.AspNetCore.Authentication

<dt>The user was successfully authenticated!</dt>

<pre>

</pre>

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>


<h2>Properties</h2>

<d1>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        if (prop.Key == ".Token.access_token" || prop.Key == ".Token.id_token") {
            <dt>@prop.Key <a href="https://jwt.ms/#id_token=@(prop.Value)" target="_blank">(klick here to view the token)</a></dt>
            <dd>@prop.Value</dd>
        }
        else 
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    }
</d1>