@model HelseId.Samples.ApiAccess.ViewModels.ApiResponseViewModel
<div class="col-md">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">API Response</h5>

            <h6 class="card-subtitle mb-2 text-muted">The user has successfully accessed the API</h6>
            <p class="card-text">Greeting from the API: @Model.ApiResponse.Greeting</p>
            @if (@Model.ApiResponse.ParentOrganizationNumber != null) {
                <p class="card-text">Organization number returned from the API: @Model.ApiResponse.ParentOrganizationNumber</p>
            }
            @if (@Model.ApiResponse.ChildOrganizationNumber != null) {
                <p class="card-text">Child organization number returned from the API: @Model.ApiResponse.ChildOrganizationNumber</p>
            }
        </div>
    </div>
</div>
