@page "/confowners"
@using Blazor.WASM.Api.Access.Shared.AdminApiModels
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient Http
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
            <PageTitle>Configuration Owners</PageTitle>

        @if (confOwners == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
                Configuration Owners
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body1" Class="my-4">
               
            </RadzenText>

            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Class="mt-2 mb-4" Text="Add New Configuration Owner" Click="@InsertRow" Disabled=@(configOwnerToInsert != null || configOwnerToUpdate != null) />

            <RadzenDataGrid @ref="configOwnersGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="15" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@confOwners" TItem="HelseIdConfigurationOwner" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedConfigOwners EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset">
                <Columns>                    
                    <RadzenDataGridColumn TItem="HelseIdConfigurationOwner" Property="Name" Title="Name" Frozen="true" Width="160px" />
                    <RadzenDataGridColumn TItem="HelseIdConfigurationOwner" Property="Description" Title="Description" Width="200px" />
                    <RadzenDataGridColumn TItem="HelseIdConfigurationOwner" Property="Prefix" Title="Prefix" Width="160px" />
                    <RadzenDataGridColumn TItem="HelseIdConfigurationOwner" Property="OrgNr" Title="OrgNr"  Width="160px" />
                    <RadzenDataGridColumn TItem="HelseIdConfigurationOwner" Property="Updated" Title="Updated" FormatString="{0:d}" Width="160px" />                    
                    <RadzenDataGridColumn TItem="HelseIdConfigurationOwner" Property="IsEnabled" Title="IsEnabled" FormatString="{0:d}" Width="60px" />
                   
                </Columns>
            </RadzenDataGrid>
          @*  <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Prefix</th>
                        <th>OrgNr</th>
                        <th>Updated</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var confOwner in confOwners)
                    {
                        <tr class="table-dark">
                            <td>@confOwner.Name</td>
                            <td>@confOwner.Description</td>
                            <td>@confOwner.Prefix</td>
                            <td>@confOwner.OrgNr</td>
                            <td>@confOwner.Updated</td>
                           
                            <td><input disabled="true" type="checkbox" @bind="@confOwner.IsEnabled" /></td>

                            <Button class="btn btn-sm btn-dark " Clicked="/confowneredit/@confOwner.Id">Edit</Button>
                           
                        </tr>
                    }
                </tbody>
            </table>*@
                    }


        @code {
            HelseIdConfigurationOwner[]? confOwners;
            IList<HelseIdConfigurationOwner> selectedConfigOwners;
            RadzenDataGrid<HelseIdConfigurationOwner> configOwnersGrid;
            //IList<HelseIdConfigurationOwner> confOwners;

            void Reset()
            {
            configOwnerToInsert = null;
            configOwnerToUpdate = null;
            }

            public void editConfOwner(int id)
            {

                Navigation.NavigateTo($"/confowneredit/{id}");
            }


            protected override async Task OnInitializedAsync()
            {

                try
                {
                confOwners = await Http.GetFromJsonAsync<HelseIdConfigurationOwner[]>("AdminApi");
               
                    if (confOwners[0] == null)
                    {
                        var returnUrl = Uri.EscapeDataString("/" + Navigation.ToBaseRelativePath(Navigation.Uri));
                        Navigation.NavigateTo($"bff/login?returnUrl={returnUrl}", forceLoad: true);
                    }

                selectedConfigOwners = confOwners.Take(1).ToList();
                }

                catch (Exception)
                {

                }


            }

        async Task EditRow(HelseIdConfigurationOwner confOwner)
        {
            configOwnerToUpdate = confOwner;
            await configOwnersGrid.EditRow(confOwner);
        }

        void OnUpdateRow(HelseIdConfigurationOwner confOwner)
        {
            if (confOwner == configOwnerToInsert)
            {
                configOwnerToInsert = null;
            }

            configOwnerToUpdate = null;

            confOwners.Append(confOwner);
          

            // For demo purposes only
           // confOwners.Customer = dbContext.Customers.Find(confOwners.CustomerID);
          //  confOwners.Employee = dbContext.Employees.Find(confOwners.EmployeeID);

            // For production
            //dbContext.SaveChanges();
        }

        async Task SaveRow(HelseIdConfigurationOwner confOwner)
        {
            await configOwnersGrid.UpdateRow(confOwner);
        }

        void CancelEdit(HelseIdConfigurationOwner confOwner)
        {
            if (confOwner == configOwnerToInsert)
            {
                configOwnerToInsert = null;
            }

            configOwnerToUpdate = null;

            configOwnersGrid.CancelEditRow(confOwner);

            // For production
            //var configOwnerEntry = confOwners.Entry(confOwner);
            //if (configOwnerEntry.State == EntityState.Modified)
            //{
            //    configOwnersListEntry.CurrentValues.SetValues(configOwnersListEntry.OriginalValues);
            //    configOwnersListEntry.State = EntityState.Unchanged;
            //}
        }

        async Task DeleteRow(HelseIdConfigurationOwner confOwner)
        {
            if (confOwner == configOwnerToInsert)
            {
                configOwnerToInsert = null;
            }

            if (confOwner == configOwnerToUpdate)
            {
                configOwnerToUpdate = null;
            }

            if (confOwners.Contains(confOwner))
            {
              //  dbContext.Remove<HelseIdConfigurationOwner>(confOwner);

                // For demo purposes only
                //confOwners.Remove(confOwner);

                // For production
                //dbContext.SaveChanges();

                await configOwnersGrid.Reload();
            }
            else
            {
                configOwnersGrid.CancelEditRow(confOwner);
                await configOwnersGrid.Reload();
            }
        }

        HelseIdConfigurationOwner configOwnerToInsert;
        HelseIdConfigurationOwner configOwnerToUpdate;

        async Task InsertRow()
        {
            configOwnerToInsert = new HelseIdConfigurationOwner();
            await configOwnersGrid.InsertRow(configOwnerToInsert);
        }

        void OnCreateRow(HelseIdConfigurationOwner confOwners)
        {
           // dbContext.Add(confOwners);

            // For demo purposes only
            //confOwners.Customer = dbContext.Customers.Find(confOwners.CustomerID);
            //confOwners.Employee = dbContext.Employees.Find(confOwners.EmployeeID);

            // For production
            //dbContext.SaveChanges();

            configOwnerToInsert = null;
        }

        }
    

            </Authorized >
    <NotAuthorized >
        <p><em> Redirecting to Login.. </em></p>
              
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>
