@page "/fetchdata"
@using Blazor.WASM.Api.Access.Shared.AdminApiModels
@inject HttpClient Http
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
<PageTitle>Admin Api</PageTitle>

<h1>Configuration Owners:</h1>




        @if (confOwners == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Prefix</th>
                        <th>OrgNr</th>
                        <th>Updated</th>
                        <th>Enabled</th>
                        <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var confOwner in confOwners)
                {
                    <tr>
                            <td>@confOwner.Name</td>
                            <td>@confOwner.Description</td>
                            <td>@confOwner.Prefix</td>
                            <td>@confOwner.OrgNr</td>
                            <td>@confOwner.Updated</td>
                            @*<td><input type="checkbox" contenteditable="false" value="@confOwner.IsEnabled.ToString()" /></td>*@
                            <td><input disabled="true" type="checkbox" @bind="@confOwner.IsEnabled" /></td>
                           
                           @* <Button Color="Color.Primary" Clicked="/editConfOwner(@confOwner.Id)">Edit</Button>*@
                            <a href='/editconfowner/@confOwner.Id'>Edit</a>
                    </tr>
                    }
            </tbody>
        </table>
    }


    @code {
        private HelseIdConfigurationOwner[]? confOwners;

        public void editConfOwner(int id)
        {
           
            Navigation.NavigateTo($"editconfowner?id={id}", forceLoad: true);
        }

     

        protected override async Task OnInitializedAsync()
        {

            try
                {
                    confOwners = await Http.GetFromJsonAsync<HelseIdConfigurationOwner[]>("AdminApi");
                }
            catch (Exception)
                {                
                
                }
            
          
         
        

        }
}

    </Authorized>
    <NotAuthorized>
        <p><em>Redirecting to Login.. </em></p>
      @*  <a href="bff/login">Log in</a>*@
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>
